<h3>Post Form</h3>

<%= form_for(@post) do |f| %>
  <%= f.text_field :title, :placeholder => "Post title" %><br>

  <%= f.text_area :description, :placeholder => "Post description" %><br>
  
  <%= f.submit %>
<% end %>